<div class="row">
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table22-row1-column1" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table22-row1-column2" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table22-row2-column1" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table22-row2-column2" type="text" value="0" />
    </div>
</div>