<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table42-row1-column1" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table42-row1-column2" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table42-row2-column1" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table42-row2-column2" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table42-row3-column1" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table42-row3-column2" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table42-row4-column1" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table42-row4-column2" type="text" value="0" />
    </div>
</div>
