<div class="row">
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table33_row1_column1" type="text" value={{ matrix_fields.table33_row1_column1|default:"0" }} required />
    </div>
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table33_row1_column2" type="text" value={{ matrix_fields.table33_row1_column2|default:"0" }} required />
    </div>
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table33_row1_column3" type="text" value={{ matrix_fields.table33_row1_column3|default:"0" }} required />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table33_row2_column1" type="text" value={{ matrix_fields.table33_row2_column1|default:"0" }} required />
    </div>
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table33_row2_column2" type="text" value={{ matrix_fields.table33_row2_column2|default:"0" }} required />
    </div>
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table33_row2_column3" type="text" value={{ matrix_fields.table33_row2_column3|default:"0" }} required />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table33_row3_column1" type="text" value={{ matrix_fields.table33_row3_column1|default:"0" }} required />
    </div>
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table33_row3_column2" type="text" value={{ matrix_fields.table33_row3_column2|default:"0" }} required />
    </div>
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table33_row3_column3" type="text" value={{ matrix_fields.table33_row3_column3|default:"0" }} required />
    </div>
</div>

