<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table41-row1-column1" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table41-row2-column1" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table41-row3-column1" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" name="table41-row4-column1" type="text" value="0" />
    </div>
</div>
