<div class="row">
    <div class="col border matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table51-row1-column1" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column">
         <input class="matrix-table-block-column-cell" id="table51-row2-column1" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column">
         <input class="matrix-table-block-column-cell" id="table51-row3-column1" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column">
         <input class="matrix-table-block-column-cell" id="table51-row4-column1" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column">
         <input class="matrix-table-block-column-cell" id="table51-row5-column1" type="text" value="0" />
    </div>
</div>
