<div class="row">
    <div class="col border matrix-table-block-column">
        <input name="table21_row1_column1" class="matrix-table-block-column-cell" type="text" value={{ matrix_fields.table21_row1_column1|default:"0" }} required />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column">
        <input name="table21_row2_column1" class="matrix-table-block-column-cell" type="text" value={{ matrix_fields.table21_row2_column1|default:"0" }} required />
    </div>
</div>
