<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row1-column1" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row1-column2" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row1-column3" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row2-column1" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row2-column2" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row2-column3" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row3-column1" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row3-column2" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row3-column3" type="text" value="0" />
    </div>
</div>
<div class="row">
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row4-column1" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row4-column2" type="text" value="0" />
    </div>
    <div class="col border matrix-table-block-column matrix-table-block-column">
        <input class="matrix-table-block-column-cell" id="table43-row4-column3" type="text" value="0" />
    </div>
</div>
