<div class="row">
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-1-1">k</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-1-2">x1</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-1-3">x2</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-1-4">x3</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-1-5">x4</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-1-6">x5</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-1-7">Δ</h1>
    </div>
    <div class="col matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-1-8"></h1>
    </div>
</div>
{% for row in second_step.table.values %}
<div class="row">
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-{{row.row_index}}-1">{{row.k}}</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-{{row.row_index}}-2">{{row.x1}}</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-{{row.row_index}}-3">{{row.x2}}</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-{{row.row_index}}-4">{{row.x3}}</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-{{row.row_index}}-5">{{row.x4}}</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-{{row.row_index}}-6">{{row.x5}}</h1>
    </div>
    <div class="col border matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-{{row.row_index}}-7">{{row.delta}}</h1>
    </div>
    <div class="col matrix-calculation-simple-iteration-method-block-block-step2-5-table-cell">
        <h1 id="matrix-calculation-simple-iteration-method-block-block-step2-5-table-{{row.row_index}}-8"></h1>
    </div>
</div>
{% endfor %}
