<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <title>To-Do lists</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container top-frame">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 md-md-0">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none fs-3">Math Assistant</a>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            </ul>
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">Login</button>
                <button type="button" class="btn btn-outline-primary me-2">Sign-up</button>
            </div>
        </header>
    </div>
    <div class="container generate-the-matrix-block">
        <div class="container text-center">
            <h1>Generate the matrix table !</h1>
        </div>
        <div class="generate-the-matrix-block-table">
            <div class="row generate-the-matrix-block-table-row">
                <div class="col border ">
                    <h3>Matrix A</h3>
                </div>
                <div class="col border generate-the-matrix-block-table-section">
                    <h3>Rows: </h3>
                    <div class="dropdown">
                        <a class="btn btn-light" id="generate-the-matrix-block-table-section-button-1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            3
                        </a>
                        <ul class="dropdown-menu generate-the-matrix-block-table-section-dropdown" id="generate-the-matrix-block-table-section-dropdown1">
                            <li><a class="dropdown-item" id="generate-the-matrix-block-table-section-button-1-option-1">2</a></li>
                            <li><a class="dropdown-item active" id="generate-the-matrix-block-table-section-button-1-option-2">3</a></li>
                            <li><a class="dropdown-item" id="generate-the-matrix-block-table-section-button-1-option-3">4</a></li>
                            <li><a class="dropdown-item" id="generate-the-matrix-block-table-section-button-1-option-4">5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col border generate-the-matrix-block-table-section">
                    <h3>Columns: </h3>
                    <div class="dropdown">
                        <a class="btn btn-light" id="generate-the-matrix-block-table-section-button-2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            3
                        </a>
                        <ul class="dropdown-menu generate-the-matrix-block-table-section-dropdown"  id="generate-the-matrix-block-table-section-dropdown2">
                            <li><a class="dropdown-item" id="generate-the-matrix-block-table-section-button-2-option-1">2</a></li>
                            <li><a class="dropdown-item active" id="generate-the-matrix-block-table-section-button-2-option-2">3</a></li>
                            <li><a class="dropdown-item" id="generate-the-matrix-block-table-section-button-2-option-3">4</a></li>
                            <li><a class="dropdown-item" id="generate-the-matrix-block-table-section-button-2-option-4">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row generate-the-matrix-block-table-row">
                <div class="col border ">
                    <h3>Matrix B</h3>
                </div>
                <div class="col border generate-the-matrix-block-table-section">
                    <h3>Rows: </h3>
                    <div class="dropdown">
                        <a class="btn btn-light generate-the-matrix-block-table-section-button" id="generate-the-matrix-block-table-section-button-3" data-bs-toggle="dropdown" aria-expanded="false">
                            3
                        </a>
                        <ul class="dropdown-menu generate-the-matrix-block-table-section-dropdown" id="generate-the-matrix-block-table-section-dropdown3">
                            <li><a class="dropdown-item" id="generate-the-matrix-block-table-section-button-3-option-1">2</a></li>
                            <li><a class="dropdown-item active" id="generate-the-matrix-block-table-section-button-3-option-2">3</a></li>
                            <li><a class="dropdown-item" id="generate-the-matrix-block-table-section-button-3-option-3">4</a></li>
                            <li><a class="dropdown-item" id="generate-the-matrix-block-table-section-button-3-option-4">5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col border generate-the-matrix-block-table-section">
                    <h3>Columns: </h3>
                    <div class="dropdown">
                        <a class="btn btn-light generate-the-matrix-block-table-section-button" id="generate-the-matrix-block-table-section-button-4"  role="button" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                            1
                        </a>
                        <ul class="dropdown-menu generate-the-matrix-block-table-section-dropdown">
                            <li><a class="dropdown-item" href="#">2</a></li>
                            <li><a class="dropdown-item" href="#">3</a></li>
                            <li><a class="dropdown-item" href="#">4</a></li>
                            <li><a class="dropdown-item" href="#">5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container generate-the-matrix-block-button-generate-container">
            <button class="btn btn-primary generate-the-matrix-block-button-generate">Generate</button>
        </div>
    </div>
    <script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>