<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <title>To-Do lists</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container top-frame">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 md-md-0">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none fs-3">Math Assistant</a>
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            </ul>
            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-primary me-2">Login</button>
                <button type="button" class="btn btn-outline-primary me-2">Sign-up</button>
            </div>
        </header>
    </div>
    <div class="container generate-the-matrix-block top-frame">
        <div class="container text-center">
            <h1>Generate the matrix table !</h1>
        </div>
        <div class="row generate-the-matrix-block-table">

        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>