{% extends 'base.html' %}

{% block matrix_table %}
<form method="post" action="/simple_iteration_method/">
    <div class="row container justify-content-center" id="matrix-table-block">
        <div class="column matrix-table-block-block1">
            <h1 id="matrix-table-block-block1-name">Matrix A</h1>
            <div class="row">
                <div class="column">
                    {% if context.column1 == 2 %}
                    {% if context.row1 == 2 %}
                    {% include "includes/templates_matrix_tables/row-column-2-2.html" %}
                    {% elif context.row1 == 3 %}
                    {% include "includes/templates_matrix_tables/row-column-3-2.html" %}
                    {% elif context.row1 == 4 %}
                    {% include "includes/templates_matrix_tables/row-column-4-2.html" %}
                    {% else %}
                    {% include "includes/templates_matrix_tables/row-column-5-2.html" %}
                    {% endif %}

                    {% elif context.column1 == 3 %}
                    {% if context.row1 == 2 %}
                    {% include "includes/templates_matrix_tables/row-column-2-3.html" %}
                    {% elif context.row1 == 3 %}
                    {% include "includes/templates_matrix_tables/row-column-3-3.html" %}
                    {% elif context.row1 == 4 %}
                    {% include "includes/templates_matrix_tables/row-column-4-3.html" %}
                    {% else %}
                    {% include "includes/templates_matrix_tables/row-column-5-3.html" %}
                    {% endif %}

                    {% elif context.column1 == 4 %}
                    {% if context.row1 == 2 %}
                    {% include "includes/templates_matrix_tables/row-column-2-4.html" %}
                    {% elif context.row1 == 3 %}
                    {% include "includes/templates_matrix_tables/row-column-3-4.html" %}
                    {% elif context.row1 == 4 %}
                    {% include "includes/templates_matrix_tables/row-column-4-4.html" %}
                    {% else %}
                    {% include "includes/templates_matrix_tables/row-column-5-4.html" %}
                    {% endif %}

                    {% else %}
                    {% if context.row1 == 2 %}
                    {% include "includes/templates_matrix_tables/row-column-2-5.html" %}
                    {% elif context.row1 == 3 %}
                    {% include "includes/templates_matrix_tables/row-column-3-5.html" %}
                    {% elif context.row1 == 4 %}
                    {% include "includes/templates_matrix_tables/row-column-4-5.html" %}
                    {% else %}
                    {% include "includes/templates_matrix_tables/row-column-5-5.html" %}
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="column matrix-table-block-block2">
            <h1 id="matrix-table-block-block2-name">Matrix B</h1>
            <div class="row">
                <div class="column">
                    {% if context.row1 == 2 %}
                    {% include "includes/templates_matrix_tables/row-column-2-1.html" %}
                    {% elif context.row1 == 3 %}
                    {% include "includes/templates_matrix_tables/row-column-3-1.html" %}
                    {% elif context.row1 == 4 %}
                    {% include "includes/templates_matrix_tables/row-column-4-1.html" %}
                    {% else %}
                    {% include "includes/templates_matrix_tables/row-column-5-1.html" %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container matrix-table-block-submit-button-container" id="matrix-table-block-submit-button-anchor">
            <input class="btn btn-primary matrix-table-block-submit-button" type="submit" value="Calculate by simple iteration method " />
            <a href="#matrix-calculation-simple-iteration-method-block" id="matrix-calculation-simple-iteration-method-anchor"></a>
        </div>
    </div>
</form>
{% endblock %}
{% block simple_iteration_method %}
<script src="/static/js/script2.js"></script>
<h1 id="matrix-calculation-simple-iteration-method-block">Solution</h1>
{% endblock %}